{{!< layout}}

<article>
{{#post}}

    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-meta">
            <time class="post-date">{{date format="YYYY MMMM DD"}}</time>
            {{tags prefix="标签："}}
            文章id：{{id}}
        </section>
    </header>

    <section class="post-content">
        {{content}}
    </section>

{{/post}}
</article>
